@import url('https://fonts.googleapis.com/css2?family=Abel&family=Caveat:wght@500&family=Dancing+Script:wght@600&family=Edu+NSW+ACT+Foundation:wght@400;500&family=Josefin+Sans:wght@100;200;300;400;600&family=Lato:ital,wght@1,300;1,400&family=Poiret+One&display=swap');

:root{
    --primaryColor:rgb(95, 59, 107);
    --mainWhite: white;
    --mainBlack: black;
    --maingrey: rgba(66, 66, 66, 0.4);
    --mainTransition: all 0.3 linear;
    --mainSpacing: 0.1rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poiret One', cursive;
}
body{
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: 'Abel', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poiret One', cursive;
}  
 /*-----------navbar-----------  */
.navbar{
    display: flex;
    position: relative;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: var(--mainWhite);
    box-shadow: 20px 20px 30px rgba(45, 44, 45, 0.8) ;
    z-index: 2;
    position: sticky;
    top: 0;
    left: 0;
    
}
.navbar-center {
    /* position: relative; */
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}
.nav-icon{
    font-size: 1.5rem;
}
.cartbtn {
    position: relative;
    cursor: pointer;
}
.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 13px;
    background:var(--primaryColor) ;
    padding: 0 2px;
    border-radius: 30%;
    color: var(--mainWhite);
}
 /*-----------End of navbar-----------  */
/* ----------hamburger------------ */
.sidebar {
    position: absolute;
    background-color:  rgb(43, 41, 41);
     width: 20vw; 
    font-family: 'Fira Sans', sans-serif;
    height: 100vh; 
    margin-top: 40rem;
    /* margin-top: -0.5rem;*/
    margin-left: -13rem; 
    /* transition: transform 0.3s ease-in; */
}
.sidebar .nav ul{
    margin-top: 3rem;
}


.sidebar .nav li {
    list-style: none;
    font-size: 25px;
    padding: 20px 2rem;
}

.sidebar .nav li a {
    text-decoration: none;
    color: darkgrey;
    font-weight: bold;
}

.sidebar .nav li a:hover {
    color: whitesmoke; 
}

.hamburger {
    /* position: absolute; */
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.sidebarGo {
    background-color: rgb(255, 255, 255);
    transform: translate(-460px, 0px);
    position: absolute;
}

.ham {
    font-size: 1.5rem;
    color: black;
    margin-left: 2rem;
}

.cross {
    margin-left: 6.3rem;
    font-size: 2rem;
}
.cross:hover{
    color: darkgrey;
}
 /* ----------end hamburger------------ */
 /* --------------hero--------------- */
 #carouselExampleCaptions .now{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 30px;
    padding: 5px 15px;
    border-radius: 10px;
    text-decoration: none;
}
#carouselExampleCaptions .now:hover{
    background-color: grey;
}
#carouselExampleCaptions .carousel-control-prev:hover{
 background-color: rgba(0, 0, 0, 0.3);
}
#carouselExampleCaptions .carousel-control-next:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
#carouselExampleCaptions .carousel-caption p{
    color: rgb(255, 255, 255);
    font-size: 40px;
    letter-spacing: 5px;
    padding: 5px;
}
 /* -----------End of hero----------- */
 /* ------------featured section-------- */
 #feature{
    display: grid;
       grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
       /* grid-column-gap: 2rem; */
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;
    padding: 3rem 80px 0 80px;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 34px rgba(0, 0,0,0.2);
    border: 1px solid rgb(102, 101, 101);
    border-radius: 55%;
    margin: 15px 0;
}
#feature .fe-box:nth-child(1) h6{
    color: rgb(53, 143, 184);
    background-color:rgb(135, 177, 203); ;
}
#feature .fe-box:nth-child(2) h6{
    color: rgb(181, 102, 173);
    background-color:rgb(200, 169, 200); ;
}
#feature .fe-box:nth-child(3) h6{
    color: rgb(82, 147, 75);
    background-color:rgb(171, 223, 197); ;
}
#feature .fe-box:nth-child(4) h6{
    color: rgb(53, 143, 184);
    background-color:rgb(135, 177, 203); ;
}
#feature .fe-box:nth-child(5) h6{
    color: rgb(147, 73, 176);
    background-color:rgb(153, 123, 160); ;
}
#feature .fe-box:nth-child(6) h6{
    color: rgb(184, 125, 53);
    background-color:rgb(179, 161, 132); ;
}

/* #feature .fe-box .black{
    width: 100%;
    margin-bottom: 10px;
    color: #0d0210;
    font-size: 80px;
} */
#feature .fe-box:hover{
    box-shadow: 20px 20px 54px rgba(47, 46, 46, 0.5);

}
#feature .fe-box h6{
    display: inline-block;
    margin-top: 20px;
    padding:5px;
    color:rgb(57, 55, 57) ;
    background-color:rgba(90, 73, 93,0.5);
    /* border: 1px solid rgb(57, 55, 57) ; */
    font-weight: 400;
    border-radius: 4px;
}

@media screen and (min-width: 768px){
    #feature{
        display: grid;
           grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
           /* grid-column-gap: 2rem; */
            grid-column-gap: 1rem;
            grid-row-gap: 2rem;
        padding: 3rem 80px 0 80px;
    }  
}
 /* ------------end of featured section----------- */
 /* -------------category section--------------- */
 #category{
    width: 90vw;
    margin: 5rem auto 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    /* grid-column-gap: 2rem; */
    grid-column-gap: 2.7rem;
    grid-row-gap: 2rem;
 }
 #category{
    text-transform: capitalize;
 }
 #category .amine{
    background-image: url(/images/anime\ senpei.jpg);
    height: 20vh;
    border: 1px solid grey;
    border-radius: 1rem;
 }
 #category .bts{
    background-image: url(/images/bts\ army.jfif);
    height: 20vh;
    border: 1px solid grey;
    border-radius: 1rem;
 }
 #category .marvel{
    background-image: url(/images/marvel\ fans.jpg);
    height: 20vh;
    border: 1px solid grey;
    border-radius: 1rem;
 }
 #category a{
    text-decoration: none;
    color: rgb(0, 0, 0);
 }

 #category a:hover{
    color: #ffffff;
 }
 #category h2{
     text-align:center;
     font-weight: bolder;
     height: 20vh;
     border: 1px solid grey;
     background-color: rgb(139, 133, 133,0.5);
     border-radius: 1rem;
     padding-top: 3rem; 
    
 }
  /* -------------end of category section--------------- */

/* -------------products-------------- */
.des-products {
    padding: 4rem 0;
}
.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}
.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    /* grid-column-gap: 2rem; */
    grid-column-gap: 2.7rem;
    grid-row-gap: 2rem;
}
.img-container {
   position: relative;
   overflow: hidden; 
}
.product .img-container:hover img{
  transform: scale(1.1);
}
.des-now {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
}
.des-now:hover {
    color: var(--mainWhite);
    border-radius: 5px;
}
.img-container:hover .des-now{
    transform: translateX(0);
}
.cart-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
}
.cart-btn:hover {
    color: var(--mainWhite);
    border-radius: 5px;
}
.fa-shopping-cart {
    margin-right: 0.5rem;
}
.img-container:hover .cart-btn{
    transform: translateX(0);
}
.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
}
.img-container:hover .product-img{
    opacity: 0.8;
}
.product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    padding-top: 15px;
    font-weight:bold;
}
.product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color:var(--primaryColor);
    text-align: center;
    font-weight:bold;
}
/* -------------end of products-------------- */

/* ------------cart--------------- */
.cart-overlay{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    transition: var(--mainTransition);
    background: rgba(66, 66, 66, 0.4);
    z-index: 2;
    visibility: hidden;
}
.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgba(255, 255, 255,0.9);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
}
.cart h2 {
    font-size: 25px;
    font-weight: bolder;
    color: var(--primaryColor);
}
.cart-content .remove-item{
    font-weight: bolder;
    background-color: rgb(109, 68, 68);
    color: black;
    padding: 00.2rem;
    border: 1px solid red;
    border-radius: 5px;

}
.cart-content .remove-item:hover{
    color: white;
}
.cart-footer h3 {
    font-size: 25px;
    font-weight: bolder;
    color: var(--primaryColor);
}
.cart-footer button {
    font-size: 25px;
    font-weight: bolder;
    background-color: var(--primaryColor);
    padding: 0.2rem 1rem;
    border-radius: 5px;
}
.cart-footer button:hover {
    color: whitesmoke;
}
.showCart {
    transform: translateX(0);
   
}
.transparentBcg{
    visibility: visible;
}
@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}

.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}

.cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
}
/* ------------cart item------------ */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}
.cart-item img {
    width: 75px;
    height: 75px;
} 
.cart-item h4 {
    font-size: 0.85rem;
    font-weight: bolder;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
    margin: 0.5rem 0;
    font-weight: bolder;
    letter-spacing: var(--mainSpacing);
}
.item-amount {
    text-align: center;
}
.remove-item {
    color: grey;
    cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
    color:var(--primaryColor);
    cursor: pointer;
}
/* ------------end of cart item------------ */

.cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}
.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

/* ------------end of cart--------------- */
/* ---------products name section--------- */
.searchproduct h1{
    text-transform: capitalize;
    color: var(--primaryColor);
    font-weight: bolder;
}
.searchproduct .productnames ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    margin: 1rem 3rem;
}
.searchproduct .productnames li{
    text-transform: capitalize;
    list-style: none;
    font-size: 30px;
    font-weight: bold;
}
.searchproduct .productnames a{
    text-decoration: none;
    color: rgb(62, 61, 61);
}
/* ---------end of products name section--------- */

/* ------------newsletter------------- */
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(/images/newsletter.png);
    background-repeat: repeat;
    background-position: 20% 30%;
    background-color:var(--primaryColor);
    padding: 40px 80px 80px 80px;
    margin-bottom: 2rem;
    }
    #newsletter h4{
        font-size: 40px;
        font-weight: 700;
        color: rgb(2, 0, 8);
    }
    #newsletter p{
        font-size: 20px;
        font-weight: 600;
        color:rgba(245, 245, 245,0.5);
    }
    #newsletter span{
        color: rgb(187, 130, 25);
    }
    #newsletter .form{
        display: flex;
    }
    
    .form input {
        width: 60%;
        margin-left: 3rem;
        padding: 1rem 6rem 1rem 1rem;
        border-radius: 2rem; 
        border: 1px solid rgb(230, 215, 216); 
        color: #0d0210;
        background-color:whitesmoke ; 
    }
    
    .form  button {
        background-color:rgb(51, 50, 50);
        color:whitesmoke ; 
        padding: 1rem;
        margin-left: -3rem;
        border: none;
        border-radius: 2rem;
        font-size: medium;
    }
    /* ------------end of newsletter------------- */

    /* ------------footer---------------- */
    footer {
        /* padding: 8vw; */
        padding: 3rem 3rem;
        background-color:rgb(31, 29, 29);
        
    }
    
    footer .footer-col {
        /* display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap; */
        display: grid;
       grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
       /* grid-column-gap: 2rem; */
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;
        padding-bottom: 40px;
    }
    
    footer h3 {
        color: rgb(241, 240, 245);
        font-size: 23px;
        padding-bottom: 20px;
    }
    footer a{
        text-decoration: none;
    }
    footer li {
        list-style: none;
        color:  rgb(117, 113, 113);

        padding: 10px 0;
        font-size: 18px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    
    footer li:hover {
        color:var(--primaryColor);
        
        /* background-color: rgb(23, 93, 140); */
    }
    
    footer p {
        color: white;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .copyright{
        text-align: center;
    }.copyright a {
        list-style: none;
        color: var(--primaryColor);
    }
    .pro-links {
        margin-top: 10px;
    }
    .pro-links i {
        padding: 10px 13px;
        margin-bottom: 10px;
        border: 3px solid rgb(0, 0, 0);
        cursor: pointer;
        transition: 0.3s ease;
    }
    
    .pro-links i:hover {
        background: var(--primaryColor);
        color: white;
    }

    /* ------------end of footer---------------- */
    /* ----------responsive section------------ */
    /* @media screen and (min-width: 768px) {
        .sidebar {
                width: 30vw;
                min-width: 450px;
            
        }
        
        #feature{
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }
        .products-center {
           
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        
        }
        footer .footer-col {
            
           grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
           
        }
        
    }
    @media screen and (min-width: 393px) {
        .sidebar {
           
            margin-top: 40rem;
            margin-left: 0; 
        }
        
        #feature{
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            padding: 3rem 2rem  0 2rem;
        }
        #feature .fe-box{
           
            padding: 20px 10px;
        }
        .products-center {
           
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        
        }
        footer {
            padding: 2rem 3rem;
            
        }
        footer .footer-col {
            
           grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
           
        }
    } */
/* ------end of responsive section------- */